body {
  padding-top: 70px;
  background-color: #ECECEC;
}
.pointer {
  cursor: pointer;
}
.no.rounded {
  border-radius: 0 !important;
}
.ui.fixed.top.menu {
  background-color: #2B637B;
  z-index: 9999;
}
.ui.fixed.top.menu .item {
  color: #FFFFFF;
}
.ui.fixed.top.menu .ui.popup .item {
  color: #000000;
}
.ui.white.header {
  color: #FFFFFF;
}
.side.menu {
  background-color: #2D6D79;
  width: 230px;
  height: 100vh;
  padding: 10px 0px 0px 0px;
  position: fixed;
  z-index: 9998;
  left: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.side.menu.hide {
  left: -255px;
}
.side.menu.hide + #content {
  padding-left: 25px;
}
@media (max-width: 768px) {
  .side.menu.hide + #content {
    padding-left: 10px;
  }
}
@media (max-width: 768px) {
  .side.menu {
    width: 50px;
  }
  .side.menu .profile {
    display: none;
  }
}
.side.menu .ui.vertical.menu {
  border-radius: 0;
  box-shadow: none;
  border: none;
  max-height: 320px;
  overflow-y: scroll;
}
@media (max-width: 768px) {
  .side.menu .ui.vertical.menu {
    max-height: 80vh;
  }
}
.side.menu .ui.vertical.menu .item {
  background-color: #2D6D79;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 0;
}
.side.menu .ui.vertical.menu .item:hover {
  background-color: #024055;
  color: #ffffff;
}
@media (max-width: 768px) {
  .side.menu .ui.vertical.menu .item {
    padding: 10px;
    font-size: 0;
  }
  .side.menu .ui.vertical.menu .item i.icon {
    float: none;
    margin: 5px 5px 5px 3px;
    font-size: 20px;
  }
}
#content {
  padding-right: 25px;
  padding-left: 265px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
@media (max-width: 768px) {
  #content {
    padding-left: 60px;
    padding-right: 10px;
  }
}
#content .chart.element {
  width: 100%;
  height: 200px;
  font-size: 11px;
}
#content #background-profile {
  background-image: url(../img/bg.jpg);
  border: none;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#loginBackground {
  padding-top: 10%;
  background-color: #80b6e6;
}
