<h3 class="ui dividing header">{{_("Application List")}} </h3>
<table class="ui celled basic table">
	<thead>
		<tr>
			<th>{{_("Name")}}</th>
			<th>{{_("Application")}}</th>
			<th>{{_("Version")}}</th>
			<th>{{_("SN")}}</th>
			<th>{{_("Action")}}</th>
		</tr>
	</thead>
	<tbody>
		{% for k, v in pairs(apps) do %}
		<tr>
			<td>{{k}} </td>
			<td>{{v.name}} </td>
			<td>{{v.version}} </td>
			<td>{{v.sn}} </td>
			<td id="{{k}}_actions">
				{% if not v.running then %}
				<div class="ui green button" onclick="start_app('{{k}}');">
					<i class="play icon"></i>{{_("Start")}}
				</div>
				{% else %}
				<div class="ui gray button" onclick="stop_app('{{k}}');">
					<i class="play stop icon"></i>{{_("Stop")}}
				</div>
				{% end %}
				<div class="ui brown button" onclick="uninstall_app('{{k}}');">
					<i class="trash icon"></i>{{_("Uninstall")}}
				</div>
			</td>
		</tr>
		{% end %}
	</tbody>
</table>
