<div class="ui debuger container">
	<div class="ui small secondary menu toolbar">
		<a class="popup icon item start" data-content="Start application" tabindex='0'><i class="play icon"></i></a>
		<a class="popup icon item stop" data-content="Stop application"><i class="stop icon"></i></a>
		<a class="popup icon item refresh" data-content="Refresh log/comm"><i class="refresh icon"></i></a>
		<a class="popup icon item watch" data-content="Auto refresh"><i class="unhide icon"></i></a>
		<a class="popup icon item unwatch" data-content="Stop auto refresh"><i class="hide icon"></i></a>
	</div>
	<div class="ui styled fluid accordion" style="min-height:600px;min-width:800px">
		<div class="active title">
			<i class="dropdown icon"></i>
			{{_("Log Watcher")}}
		</div>
		<div class="active content">
			<table id="log_table" class="ui selectable celled striped collapsing table" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th>Timestamp</th>
						<th>Level</th>
						<th>Process</th>
						<th>Content</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th>Timestamp</th>
						<th>Level</th>
						<th>Process</th>
						<th>Content</th>
					</tr>
				</tfoot>
			</table>
		</div>
		<div class="active title">
			<i class="dropdown icon"></i>
			{{_("Comm Data Watcher")}}
		</div>
		<div class="active content">
			<table id="comm_table" class="ui selectable celled striped collapsing table" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th>Timestamp</th>
						<th>SN</th>
						<th>DIR</th>
						<th>Data</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th>Timestamp</th>
						<th>SN</th>
						<th>DIR</th>
						<th>Data</th>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
	<div class="ui divider"></div>
	<form class="ui debuger_main form">
		<div class="ui cancel button">{{_("Quit")}}</div>
		<div class="ui success message"></div>
		<div class="ui error message"></div>
	</form>
</div>

<script>

function reset_message() {
	$('.ui.debuger_main.form').removeClass('success').removeClass('error');
};
function print_err_message(msg) {
	reset_message();
	console.log('Exception:' + msg);
	$('.ui.debuger_main.form .ui.error.message').html(msg);
	$('.ui.debuger_main.form').addClass('error');
};
function print_ok_message(msg) {
	reset_message();
	console.log('OK:' + msg);
	$('.ui.debuger_main.form .ui.success.message').html(msg);
	$('.ui.debuger_main.form').addClass('success');
};

function start_app(inst) {
	$.post("/app/start", {from_web:true, inst:inst}, function(data) {
		print_ok_message('<i>' + data + '</i>');
	})
	.done(function() {
	})
	.fail(function() {
		print_err_message('<i>{{_("Failed to send start request")}}</i>');
	});
};

function stop_app(inst) {
	$.post("/app/stop", {from_web:true, inst:inst, reason:'Stop from web'}, function(data) {
		print_ok_message('<i>' + data + '</i>');
	})
	.done(function() {
	})
	.fail(function() {
		print_err_message('<i>{{_("Failed to send stop request")}}</i>');
	});
};

var log_table = null;
var log_table_timer = null;
var comm_table = null;
var comm_table_timer = null;
function start_watch() {
	if (!log_table_timer) {
		log_table_timer = setInterval( function () {
			comm_table.ajax.reload( null, false ); // user paging is not reset on reload
		}, 3000 );
	};

	if (!comm_table_timer) {
		comm_table_timer = setInterval( function () {
			log_table.ajax.reload( null, false ); // user paging is not reset on reload
		}, 3000 );
	};
};
function stop_watch() {
	if (log_table_timer) {
		clearInterval(log_table_timer);
		log_table_timer = null;
	};
	if (comm_table_timer) {
		clearInterval(comm_table_timer);
		comm_table_timer = null;
	};
};

var debug_loaded = false;
function debug_init() {
	if (debug_loaded) {
		return;
	}
	debug_loaded = true;
	var inst = "{{app.inst}}";
	$('.ui.debuger.container .item.start').click(function() {
		start_app(inst);
	});
	$('.ui.debuger.container .item.stop').click(function() {
		stop_app(inst);
	});
	$('.ui.debuger.container .item.refresh').click(function() {
		log_table.ajax.reload( null, false ); // user paging is not reset on reload
		comm_table.ajax.reload( null, false ); // user paging is not reset on reload
	});
	var watch_btn = $('.ui.debuger.container .item.watch');
	var unwatch_btn = $('.ui.debuger.container .item.unwatch');
	watch_btn.click(function() {
		start_watch();
		watch_btn.hide();
		unwatch_btn.show();
	});
	unwatch_btn.click(function() {
		stop_watch();
		unwatch_btn.hide();
		watch_btn.show();
	});
	unwatch_btn.hide();
	comm_table = $('#comm_table').DataTable({
		"ajax": {
			"url": "/sys/comm?app=" + "{{app.inst}}",
			"dataSrc": ""
		},
		"columns": [
			{ "data": "ts" },
			{ "data": "sn" },
			{ "data": "dir" },
			{ "data": "data" },
		]
	});
	log_table = $('#log_table').DataTable({
		"ajax": {
			"url": "/sys/log",
			"dataSrc": ""
		},
		"columns": [
			{ "data": "time" },
			{ "data": "level" },
			{ "data": "process" },
			{ "data": "content" },
		]
	});
};
</script>
