<h3 class="ui dividing header">{{_("System")}} </h3>
<table class="ui celled basic table">
	<thead>
		<tr>
			<th>{{_("ID")}}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{cfg.ID}} </td>
		</tr>
	</tbody>
</table>

<h3 class="ui dividing header">{{_("MQTT")}} </h3>
<table class="ui celled basic table">
	<thead>
		<tr>
			<th>{{_("Host")}}</th>
			<th>{{_("Port")}}</th>
			<th>{{_("Tiemout")}}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{cfg.HOST}} </td>
			<td>{{cfg.PORT}} </td>
			<td>{{cfg.TIMEOUT}} </td>
		</tr>
	</tbody>
</table>

<h3 class="ui dividing header">{{_("Upload Settings")}} </h3>
<table class="ui celled basic table">
	<thead>
		<tr>
			<th>{{_("Data Upload")}}</th>
			<th>{{_("Stat Upload")}}</th>
			<th>{{_("Comm Upload")}}</th>
			<th>{{_("Log Upload")}}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				{% if cfg.DATA_UPLOAD then %}
				<div class="ui fitted toggle checked checkbox">
					<input id="data_upload" type="checkbox" checked="true">
					<label></label>
				</div>
				{% else %}
				<div class="ui fitted toggle checkbox">
					<input id="data_upload" type="checkbox">
					<label></label>
				</div>
				{% end %}
			</td>
			<td>
				{% if cfg.STAT_UPLOAD then %}
				<div class="ui fitted toggle checked checkbox">
					<input id="stat_upload" type="checkbox" checked="true">
					<label></label>
				</div>
				{% else %}
				<div class="ui fitted toggle checkbox">
					<input id="stat_upload" type="checkbox">
					<label></label>
				</div>
				{% end %}
			</td>
			<td>
				{% if cfg.COMM_UPLOAD and cfg.COMM_UPLOAD > nowtime then %}
				<div class="ui toggle checked checkbox">
					<input id="comm_upload" type="checkbox" checked="true">
					<label>{{cfg.COMM_UPLOAD - nowtime}} seconds</label>
				</div>
				{% else %}
				<div class="ui toggle checkbox">
					<input id="comm_upload" type="checkbox">
					<label>60 seconds</label>
				</div>
				{% end %}
			</td>
			<td>
				{% if cfg.LOG_UPLOAD and cfg.LOG_UPLOAD > nowtime then %}
				<div class="ui toggle checked checkbox">
					<input id="log_upload" type="checkbox" checked="true">
					<label>{{cfg.LOG_UPLOAD - nowtime}} seconds</label>
				</div>
				{% else %}
				<div class="ui toggle checkbox">
					<input id="log_upload" type="checkbox">
					<label>60 seconds</label>
				</div>
				{% end %}

			</td>
		</tr>
	</tbody>
</table>

<h3 class="ui dividing header">{{_("PKG")}} </h3>
<table class="ui celled basic table">
	<thead>
		<tr>
			<th>{{_("PKG Host URL")}}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{cfg.PKG_HOST_URL}} </td>
		</tr>
	</tbody>
</table>

