<h3 class="ui dividing header">{{_("System")}} </h3>
<table class="ui celled table">
	<thead>
		<tr>
			<th>{{_("ID")}}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{cfg.ID}} </td>
		</tr>
	</tbody>
</table>

<h3 class="ui dividing header">{{_("MQTT")}} </h3>
<table class="ui celled table">
	<thead>
		<tr>
			<th>{{_("Host")}}</th>
			<th>{{_("Port")}}</th>
			<th>{{_("Tiemout")}}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{cfg.HOST}} </td>
			<td>{{cfg.PORT}} </td>
			<td>{{cfg.TIMEOUT}} </td>
		</tr>
	</tbody>
</table>

<h3 class="ui dividing header">{{_("Upload Settings")}} </h3>
<table class="ui celled table">
	<thead>
		<tr>
			<th>{{_("Data Upload")}}</th>
			<th>{{_("Stat Upload")}}</th>
			<th>{{_("Comm Upload")}}</th>
			<th>{{_("Log Upload")}}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{cfg.DATA_UPLOAD}} </td>
			<td>{{cfg.STAT_UPLOAD}} </td>
			<td>{{cfg.COMM_UPLOAD}} </td>
			<td>{{cfg.LOG_UPLOAD}} </td>
		</tr>
	</tbody>
</table>

<h3 class="ui dividing header">{{_("PKG")}} </h3>
<table class="ui celled table">
	<thead>
		<tr>
			<th>{{_("PKG Host URL")}}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{cfg.PKG_HOST_URL}} </td>
		</tr>
	</tbody>
</table>

