<h3 class="ui dividing header">{{_("Extension List")}} </h3>
<table class="ui celled basic table">
	<thead>
		<tr>
			<th>{{_("Name")}}</th>
			<th>{{_("Version")}}</th>
			<th>{{_("Action")}}</th>
		</tr>
	</thead>
	<tbody>
		{% for k, v in pairs(exts) do %}
		<tr>
			<td>{{k}} </td>
			<td id="{{k}}_version_col" data-version="{{v.version}}" data-realversion="{{v.real_version}}"> {{v.real_version or v.version}} </td>
			<td id="{{k}}_actions_col">
				<i id="{{k}}_upgrade_col">
					<div class="ui labeled button button upgrade" data-inst="{{k}}" data-ext="{{v.name}}" data-version="latest">
						<div class="ui orange button">
							<i class="info circle icon"></i> {{_("Upgrade To")}}
						</div>
						<a class="ui basic orange left pointing label">
							latest
						</a>
					</div>
				</i>
			</td>
		</tr>
		{% end %}
	</tbody>
</table>
