{% layout="base.html" %}
{-main_header-}
{-main_header-}

{-main-}
<h1 class="header"> Installed Application List </h1>

{(widget/app_list.html, {apps=apps})}

<div class="ui icon basic message">
	<i class="inbox icon"></i>
	<div class="content">
		<div class="header">
			<div id="message_ui">
				{{ message }}
			</div>
		</div>
	</div>
</div>


{-main-}

{-script-}
<script>
function refresh_page() {
	window.location.replace("/app");
}
function upgrade_app(inst, app) {
	$.post("/sys/upgrade_app", {from_web:true, inst:inst, app:app, version:'latest'}, function(data) {
		$('#message_ui').html('<i>' + data + '</i>');
	})
	.done(function() {
		setTimeout('refresh_page()', 10000);
	})
	.fail(function() {
		$('#message_ui').html('<i>Failed to send system upgrade request </i>');
	});
}
</script>
{-script-}
