{% layout="base.html" %}
{-main_header-}
{-main_header-}

{-main-}
<h1 class="header"> {{_("Installed Application List")}} </h1>

{(widget/app_list.html, {apps=apps, force_upgrade=force_upgrade, using_beta=using_beta})}

<div class="ui basic segment">
	<div class="ui teal button check_update" data-content="Query application updates">{{_("Check Updates")}}</div>
</div>

<div class="ui icon message">
	<i class="inbox icon"></i>
	<div class="content">
		<div class="header">
			<div id="message_ui">
				{{ message }}
			</div>
		</div>
	</div>
</div>
{-main-}

{-script-}
<script>
function refresh_page() {
	window.location.replace("/app");
}
function upgrade_app(inst, app, version) {
	$.post("/app/upgrade", {from_web:true, inst:inst, app:app, version:version}, function(data) {
		$('#message_ui').html('<i>' + data + '</i>');
	})
	.done(function() {
		setTimeout('refresh_page()', 10000);
	})
	.fail(function() {
		$('#message_ui').html('<i>{{_("Failed to send upgrade request")}}</i>');
	});
}
function uninstall_app(inst) {
	$.post("/app/uninstall", {from_web:true, inst:inst}, function(data) {
		$('#message_ui').html('<i>' + data + '</i>');
	})
	.done(function() {
		setTimeout('refresh_page()', 3000);
	})
	.fail(function() {
		$('#message_ui').html('<i>{{_("Failed to send uninstall request")}}</i>');
	});
}

function start_app(inst) {
	$.post("/app/start", {from_web:true, inst:inst}, function(data) {
		$('#message_ui').html('<i>' + data + '</i>');
	})
	.done(function() {
		//setTimeout('refresh_page()', 3000);
		var filter = '#'+ inst + '_actions_col ';
		$(filter + '.ui.button.start').hide();
		$(filter + '.ui.button.stop').show();
	})
	.fail(function() {
		$('#message_ui').html('<i>{{_("Failed to send start request")}}</i>');
	});
}

function stop_app(inst) {
	$.post("/app/stop", {from_web:true, inst:inst, reason:'Stop from web'}, function(data) {
		$('#message_ui').html('<i>' + data + '</i>');
	})
	.done(function() {
		//setTimeout('refresh_page()', 3000);
		var filter = '#'+ inst + '_actions_col ';
		$(filter + '.ui.button.stop').hide();
		$(filter + '.ui.button.start').show();
	})
	.fail(function() {
		$('#message_ui').html('<i>{{_("Failed to send stop request")}}</i>');
	});
}

function check_app_update(inst, app, version) {
	$.get("/app/check_update", {from_web:true, inst:inst, app:app}, function(data) {
		if (data && data.version && data.version > version) {
			var vstr = data.version;
			if (data.beta) {
				vstr = "beta." + vstr;
			};
			var btn = $('.ui.button.upgrade[data-inst="' + inst + '"]');
			btn.attr('data-version', vstr);
			btn.find('.label').text(vstr);
			btn.show();
		};
	})
	.done(function() {
	})
	.fail(function() {
	});
}

function check_app_version(inst, app, version) {
	$.get("/app/check_version", {from_web:true, inst:inst, app:app, version:version}, function(data) {
		if (data && data.type) {
			if (data.type == "release") {
				$('#'+inst+'_version_col').html(version + '<i class="green check icon"></i>');
			} else if (data.type == "beta") {
				$('#'+inst+'_version_col').html(version + '<i class="yellow warning sign icon"></i>');
			} else {
				$('#'+inst+'_version_col').html(version + '<i class="red attention icon"></i>');
			}
		};
	})
	.done(function() {
	})
	.fail(function() {
	});
}
function check_for_update() {
	{% for k, v in pairs(apps) do %}
	check_app_version('{{k}}', '{{v.name}}', {{v.version}});
	check_app_update('{{k}}', '{{v.name}}', {{v.version}});
	{% end %}
}

$(document).ready(function(){
	//setTimeout('check_for_updates()', 1000);
	{% if not force_upgrade then %}
	$('.ui.button.upgrade').hide();
	{% end %}
	$('.ui.button.upgrade').click(function() {
		upgrade_app($(this).data('inst'), $(this).data('app'), $(this).data('version'));
	});
	$('.ui.button.start').click(function() {
		start_app($(this).data('inst'));
	});
	$('.ui.button.stop').click(function() {
		stop_app($(this).data('inst'));
	});
	$('.ui.button.uninstall').click(function() {
		uninstall_app($(this).data('inst'));
	});
	$('.ui.button.editor').click(function() {
		window.location.href = "/app_editor?app=" + $(this).data('inst');
	});
	$('.ui.segment .ui.button.check_update').click(function() {
		var btn = $(this);
		btn.addClass('disabled');
		check_for_update();
		setTimeout(function() {
			btn.removeClass('disabled');
		}, 5000);
	});
});
</script>
{-script-}
