{% layout="base.html" %}
{-main_header-}
{-main_header-}

{-main-}
<h1 class="header"> {{_("Installed Application List")}} </h1>

{(widget/app_list.html, {apps=apps, force_upgrade=force_upgrade, using_beta=using_beta})}

<div class="ui basic segment">
	<div class="ui teal button check_update" data-content="{{_('Query application updates')}}">{{_("Check Updates")}}</div>
	{% if not apps['frpc'] then %}
	<div class="ui blue button install_frpc" data-content="{{_('Install FRP Client application')}}">{{_("Install FRP Client")}}</div>
	{% end %}
</div>
<div class="ui basic msg_print form">
	<div class="ui success message"></div>
	<div class="ui error message"></div>
</div>

<div class="ui install_frpc modal hidden">
	<div class="ui header">{{_("Install FRP Client")}}</div>
	<div class="content">
		<form class="ui install_frpc form" action="/app/install" method="post">
			<input type="hidden" name="from_web" value="1">
			<input type="hidden" name="version" value="latest">
			<input type="hidden" name="app" value="frpc">
			<input type="hidden" name="inst" value="frpc">
			<input type="hidden" name="conf" value="{{default_frpc_conf}}">
			<div class="ui submit button"> {{_("Install")}}</div>
		</form>
	</div>
</div>

{-main-}

{-script-}
<script>
var msg_form = null;
function reset_message() {
	msg_form.removeClass('success').removeClass('error');
};
function print_err_message(msg) {
	reset_message();
	console.log('Exception:' + msg);
	msg_form.find('.ui.error.message').html(msg);
	msg_form.addClass('error');
};
function print_message(msg) {
	reset_message();
	console.log('OK:' + msg);
	msg_form.find('.ui.success.message').html(msg);
	msg_form.addClass('success');
};
function refresh_page() {
	window.location.replace("/app");
}
function upgrade_app(inst, app, version) {
	$.post("/app/upgrade", {from_web:true, inst:inst, app:app, version:version}, function(data) {
		print_message('<i>' + data + '</i>');
	})
	.done(function() {
		setTimeout('refresh_page()', 10000);
	})
	.fail(function() {
		print_err_message('<i>{{_("Failed to send upgrade request")}}</i>');
	});
}
function uninstall_app(inst) {
	$.post("/app/uninstall", {from_web:true, inst:inst}, function(data) {
		print_message('<i>' + data + '</i>');
	})
	.done(function() {
		setTimeout('refresh_page()', 3000);
	})
	.fail(function() {
		print_err_message('<i>{{_("Failed to send uninstall request")}}</i>');
	});
}

function start_app(inst) {
	$.post("/app/start", {from_web:true, inst:inst}, function(data) {
		print_message('<i>' + data + '</i>');
	})
	.done(function() {
		//setTimeout('refresh_page()', 3000);
		var filter = '#'+ inst + '_actions_col ';
		$(filter + '.ui.button.start').hide();
		$(filter + '.ui.button.stop').show();
	})
	.fail(function() {
		print_err_message('<i>{{_("Failed to send start request")}}</i>');
	});
}

function stop_app(inst) {
	$.post("/app/stop", {from_web:true, inst:inst, reason:'Stop from web'}, function(data) {
		print_message('<i>' + data + '</i>');
	})
	.done(function() {
		//setTimeout('refresh_page()', 3000);
		var filter = '#'+ inst + '_actions_col ';
		$(filter + '.ui.button.stop').hide();
		$(filter + '.ui.button.start').show();
	})
	.fail(function() {
		print_err_message('<i>{{_("Failed to send stop request")}}</i>');
	});
}

function check_app_update(inst, app, version) {
	$.get("/app/check_update", {from_web:true, inst:inst, app:app}, function(data) {
		if (data && data.version && data.version > version) {
			var vstr = data.version;
			if (data.beta) {
				vstr = "beta." + vstr;
			};
			var btn = $('.ui.button.upgrade[data-inst="' + inst + '"]');
			btn.attr('data-version', vstr);
			btn.find('.label').text(vstr);
			btn.show();
		};
	})
	.done(function() {
	})
	.fail(function() {
	});
}

function check_app_version(inst, app, version) {
	$.get("/app/check_version", {from_web:true, inst:inst, app:app, version:version}, function(data) {
		if (data && data.type) {
			if (data.type == "release") {
				$('#'+inst+'_version_col').html(version + '<i class="green check icon"></i>');
				$('.ui.button.refresh[data-inst="' + inst + '"]').hide();
			} else if (data.type == "beta") {
				$('#'+inst+'_version_col').html(version + '<i class="yellow warning sign icon"></i>');
				$('.ui.button.refresh[data-inst="' + inst + '"]').hide();
			} else if (data.type == "local") {
				$('#'+inst+'_version_col').html(version + '<i class="blue write square icon"></i>');
				$('.ui.button.refresh[data-inst="' + inst + '"]').show();
			} else {
				$('#'+inst+'_version_col').html(version + '<i class="red attention icon"></i>');
				$('.ui.button.refresh[data-inst="' + inst + '"]').hide();
			}
		};
	})
	.done(function() {
	})
	.fail(function() {
	});
}
function check_for_update() {
	{% for k, v in pairs(apps) do %}
	check_app_version('{{k}}', '{{v.name}}', {{v.version}});
	check_app_update('{{k}}', '{{v.name}}', {{v.version}});
	{% end %}
	print_message("{{_('Check updates done!')}}");
}

$(document).ready(function(){
	//setTimeout('check_for_updates()', 1000);
	msg_form = $('.ui.msg_print.form');
	{% if not force_upgrade then %}
	$('.ui.button.upgrade').hide();
	{% end %}
	$('.ui.button.upgrade').click(function() {
		upgrade_app($(this).data('inst'), $(this).data('app'), $(this).data('version'));
	});
	$('.ui.button.start').click(function() {
		start_app($(this).data('inst'));
	});
	$('.ui.button.stop').click(function() {
		stop_app($(this).data('inst'));
	});
	$('.ui.button.uninstall').click(function() {
		uninstall_app($(this).data('inst'));
	});
	$('.ui.button.editor').click(function() {
		window.location.href = "/app_editor?app=" + $(this).data('inst');
	});
	$('.ui.button.refresh').click(function() {
		upgrade_app($(this).data('inst'), $(this).data('app'), $(this).data('version'));
	});
	$('.ui.segment .ui.button.check_update').click(function() {
		var btn = $(this);
		btn.addClass('disabled');
		check_for_update();
		setTimeout(function() {
			btn.removeClass('disabled');
		}, 5000);
	});
	$('.ui.segment .ui.button.install_frpc').click(function() {
		$('.ui.install_frpc.modal')
			.modal({
				closable  : true,
			})
			.modal('show')
		;
	});
	$('.ui.install_frpc.form').ajaxForm({
		beforeSend: function () {
			reset_message();
		},
		success: function (response) {
			$('.ui.install_frpc.modal').modal('hide');
			print_message(response)
			setTimeout(refresh_page, 1000);
		},
		error: function(xhr) {
			$('.ui.install_frpc.modal').modal('hide');
			print_err_message(xhr.responseText);
		}
	});
});
</script>
{-script-}
