{% layout="base.html" %}
{-main_header-}
{-main_header-}

{-main-}
<h1 class="header"> Cloud Settings Page </h1>

{(widget/cloud.html, {cfg=cfg, nowtime=nowtime})}

<h3 class="ui top attached header">
	{{_("Control")}}
</h3>
<div class="ui attached basic segment">
	<div id="mydimmer" class="ui disabled dimmer">
		<div class="ui massive text loader" id="myloader">{{_("Loading")}}</div>
	</div>

	<div class="ui purple button" onclick="sys_quit();">{{_("Restart")}}</div>
</div>


<div class="ui icon message">
	<i class="inbox icon"></i>
	<div class="content">
		<div class="header">
			<div id="message_ui">
				{{ message }}
			</div>
		</div>
	</div>
</div>
{-main-}

{-script-}
<script>
function refresh_page() {
	window.location.replace("/cloud");
};
function enable_option(option, enable) {
	$.post("/cloud", {from_web:true, action:'enable', option:option, enable:enable}, function(data) {
		$('#message_ui').html('<i>' + data + '</i>');
	})
	.done(function() {
		setTimeout('refresh_page()', 500);
	})
	.fail(function() {
		$('#message_ui').html('<i>{{_("Failed to send request")}}</i>');
	});
};
function mqtt_option(option, value) {
	$.post("/cloud", {from_web:true, action:'mqtt', option:option, value:value}, function(data) {
		$('#message_ui').html('<i>' + data + '</i>');
	})
	.done(function() {
		setTimeout('refresh_page()', 500);
	})
	.fail(function() {
		$('#message_ui').html('<i>{{_("Failed to send request")}}</i>');
	});
};
function sys_quit() {
	$.post("/sys/quit", {from_web:true}, function(data) {
		$('#message_ui').html('<i>' + data + '</i>');
	})
	.done(function() {
		setTimeout('refresh_page()', 3000);
	})
	.fail(function() {
		$('#message_ui').html('<i>{{_("Failed to send system restart request")} </i>');
	});
};

$(document).ready(function(){
	$("#data_upload").change(function() {
		var enable = $('#data_upload').is(':checked');
		enable_option('data', enable);
	});
	$("#stat_upload").change(function() {
		var enable = $('#stat_upload').is(':checked');
		enable_option('stat', enable);
	});
	$("#comm_upload").change(function() {
		var enable = $('#comm_upload').is(':checked');
		if(enable) {
			enable_option('comm', 60);
		} else {
			enable_option('comm', 0);
		}
	});
	$("#log_upload").change(function() {
		var enable = $('#log_upload').is(':checked');
		if(enable) {
			enable_option('log', 60);
		} else {
			enable_option('log', 0);
		}
	});
	$("#mqtt_host_btn").click(function() {
		var value = $('#mqtt_host').val();
		mqtt_option('host', value);
	});
	$("#mqtt_port_btn").click(function() {
		var value = $('#mqtt_port').val();
		mqtt_option('port', value);
	});
	$("#mqtt_keepalive_btn").click(function() {
		var value = $('#mqtt_keepalive').val();
		mqtt_option('keepalive', value);
	});
	$("#iot_id_btn").click(function() {
		var value = $('#iot_id').val();
		mqtt_option('id', value);
	});
	$("#pkg_host_url_btn").click(function() {
		var value = $('#pkg_host_url').val();
		mqtt_option('pkg_host_url', value);
	});
});
</script>
{-script-}
