{% layout="base.html" %}
{-main_header-}
{-main_header-}

{-main-}
<h1 class="header"> IOT System DashBoard</h1>

<h3 class="ui top attached header">
	Information
</h3>
<div class="ui attached basic segment">
	<div class="ui blue statistic">
		<div class="value">
			{{version.iot.ver}}
		</div>
		<div class="label">
			Version
		</div>
	</div>
	<div class="ui blue statistic">
		<div class="value">
			{{version.skynet.ver}}
		</div>
		<div class="label">
			Skynet Version
		</div>
	</div>
	<div class="ui blue statistic">
		<div class="value">
			{{mem_info.total}}
		</div>
		<div class="label">
			Total Memory
		</div>
	</div>
	<div class="ui blue statistic">
		<div class="value">
			{{mem_info.used}}
		</div>
		<div class="label">
			Used Memory
		</div>
	</div>
	<div class="ui blue statistic">
		<div class="value">
			{{mem_info.free}}
		</div>
		<div class="label">
			Free Memory
		</div>
	</div>
	{% if rollback_time then %}
	<div class="ui blue statistic">
		<div class="value">
			{{rollback_time}}
		</div>
		<div class="label">
			Rollback Time
		</div>
	</div>
	{% end %}
</div>

<h3 class="ui top attached header">
	System Upgrade	
</h3>
<div class="ui attached basic segment">
	<div id="mydimmer" class="ui disabled dimmer">
		<div class="ui massive text loader" id="myloader">Loading</div>
	</div>

	{% if rollback_time then %}
	<div class="ui teal button" onclick="upgrade_ack();">Upgrade ACK</div>
	{% else %}
	<div class="ui checkbox">
		<input name="upgrade_ack" id="upgrade_ack" type="checkbox">
		<label>Skip Ack?</label>
	</div>
	<div class="ui yellow button" onclick="upgrade_sys();">Upgrade to Latest</div>
	{% end %}
</div>

<div class="ui basic segment">
	<div class="ui computer only grid">
		<table class="ui striped basic table">
			<thead>
				<tr>
					<th colspan="2"><h3 class="ui header">More Information</h3></th>
				</tr>
				<tr>
					<th>{{_("Name")}}</th>
					<th>{{_("Value")}}</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{_("Git Version")}} </td>
					<td>{{version.iot.git_ver}}</td>
				</tr>
				<tr>
					<td>{{_("Skynet Git Version")}} </td>
					<td>{{version.skynet.git_ver}}</td>
				</tr>
				<tr>
					<td>{{_("CPU Model")}} </td>
					<td>{{cpu_model}}</td>
				</tr>
				<tr>
					<td>{{_("UNAME")}} </td>
					<td>{{uname}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="ui icon message">
	<i class="inbox icon"></i>
	<div class="content">
		<div class="header">
			<div id="message_ui">
				{{ message }}
			</div>
		</div>
	</div>
</div>


{-main-}

{-script-}
<script>
function refresh_page() {
	window.location.reload();
}
function loader_test() {
	//var loader = $('#myloader');
	var loader = $('#mydimmer');
	loader.removeClass('disabled');
	loader.addClass('active');
}
function upgrade_sys() {
	no_ack = $('#upgrade_ack').is(':checked');
	$.post("/sys/upgrade", {from_web:true, version:'latest', no_ack:no_ack}, function(data) {
		$('#message_ui').html('<i>' + data + '</i>');
	})
	.done(function() {
		setTimeout('refresh_page()', 10000);
	})
	.fail(function() {
		$('#message_ui').html('<i>Failed to send system upgrade request </i>');
	});
}
function upgrade_ack() {
	$.post("/sys/upgrade_ack", {from_web:true}, function(data) {
		$('#message_ui').html('<i>' + data + '</i>');
	})
	.done(function() {
		setTimeout('refresh_page()', 3000);
	})
	.fail(function() {
		$('#message_ui').html('<i>Failed to send system upgrade ack request </i>');
	});
}
</script>
{-script-}
