{% layout="base.html" %}
{-main_header-}
{-main_header-}

{-main-}

<h1 class="header"> DashBoard Page </h1>

<h3 class="ui top attached header">
	Information
</h3>
<div class="ui attached basic segment">
	<div class="ui blue statistic">
		<div class="value">
			{{version.iot.ver}}
		</div>
		<div class="label">
			Version
		</div>
	</div>
	<div class="ui blue statistic">
		<div class="value">
			{{version.skynet.ver}}
		</div>
		<div class="label">
			Skynet Version
		</div>
	</div>
	<div class="ui blue statistic">
		<div class="value">
			{{mem_info.total}}
		</div>
		<div class="label">
			Total Memory
		</div>
	</div>
	<div class="ui blue statistic">
		<div class="value">
			{{mem_info.used}}
		</div>
		<div class="label">
			Used Memory
		</div>
	</div>
	<div class="ui blue statistic">
		<div class="value">
			{{mem_info.free}}
		</div>
		<div class="label">
			Free Memory
		</div>
	</div>
	<div class="ui right floated yellow button" onclick="upgrade_sys();">Upgrade to Latest</div>
</div>

<h3 class="ui top attached header">
	More Information
</h3>
<div class="ui attached basic segment">
	<div class="ui computer only grid">
		<div class="ui blue tiny statistic">
			<div class="value">
				{{version.skynet.git_ver}}
			</div>
			<div class="label">
				Skynet Git Version
			</div>
		</div>
		<div class="ui blue tiny statistic">
			<div class="value">
				{{version.iot.git_ver}}
			</div>
			<div class="label">
				Git Version
			</div>
		</div>
		<div class="ui blue tiny statistic">
			<div class="value">
				{{cpu_model}}
			</div>
			<div class="label">
				CPU Model	
			</div>
		</div>
		<div class="ui blue tiny statistic">
			<div class="value">
				{{uname}}
			</div>
			<div class="label">
				uname
			</div>
		</div>
	</div>
</div>

<div class="ui icon message">
	<i class="inbox icon"></i>
	<div class="content">
		<div class="header">
			<div id="message_ui">
				{{ message }}
			</div>
		</div>
	</div>
</div>


{-main-}

{-script-}
<script>
function refresh_page() {
	window.location.reload();
}
function upgrade_sys() {
	$.post("/sys/upgrade", {from_web:true, version:'latest'}, function(data) {
		$('#message_ui').html('<i>' + data + '</i>');
	})
	.done(function() {
		setTimeout('refresh_page()', 10000);
	})
	.fail(function() {
		$('#message_ui').html('<i>Failed to send system upgrade request </i>');
	});
}
</script>
{-script-}
