{% layout="base.html" %}
{-base_header-}
<script type="text/javascript" src="/assets/showdown/showdown.min.js"></script>
{-base_header-}

{-main_header-}
{-main_header-}

{-main-}
<h2 class="ui center aligned icon header">
	<i class="circular users icon"></i>
	{{_("Document")}} - {{doc}}
</h2>
<div id="doc_body">
</div>
{-main-}

{-script-}
<script>
$(document).ready(function() {
	$.get("/help_doc", { filename: "{*doc*}" }, function(result){
		var converter = new showdown.Converter();
		var html      = converter.makeHtml(result);
		$('#doc_body').html(html);
	});
});
</script>
{-script-}
