{% layout="base.html" %}
{-main_header-}
{-main_header-}

{-main-}
<h2 class="ui center aligned icon header">
	<i class="circular users icon"></i>
	{{_("Document Index")}}
</h2>
<div class="ui ordered list">
	<a class="item" href="http://freeioe.gitbook.io/doc">{{_("Application Development Book")}}</a>
	<a class="item" href="http://freeioe.org">{{_("Discussion forum")}}</a>
	<a class="item" href="http://wiki.freeioe.org">{{_("Wiki")}}</a>
	<a class="item" href="https://github.com/freeioe/freeioe">{{_("Code")}}</a>
</div>
{-main-}
