{% layout="base.html" %}
{-main_header-}
{-main_header-}

{-main-}
<h2 class="ui center aligned icon header">
	<i class="circular users icon"></i>
	{{_("Document Index")}}
</h2>
<div class="ui ordered list">
	<a class="item">{{_("Getting Started")}}</a>
	<a class="item">{{_("Introduction")}}</a>
	<div class="item">
		<a>{{_("Application Document")}}</a>
		<div class="list">
			<a class="item" href="/doc/app">{{_("Application API")}}</a>
			<a class="item" href="/doc/iot">{{_("IOT System API")}}</a>
		</div>
	</div>
	<a class="item">{{_("Review")}}</a>
</div>
{-main-}
