{% layout="base.html" %}
{-main_header-}
{-main_header-}

{-main-}
<h2 class="ui center aligned icon header">
	<i class="circular users icon"></i>
	{{_("Document Index")}}
</h2>
<div class="ui ordered list">
	<a class="item" href="http://freeioe.gitbook.io/doc">{{_("Getting Started")}}</a>
	<a class="item" href="http://store.freeioe.org">{{_("Application Store")}}</a>
	<div class="item">
		<a>{{_("Application Document")}}</a>
		<div class="list">
			<a class="item" href="/doc/app">{{_("Application API")}}</a>
		</div>
	</div>
	<a class="item" href="https://github.com/freeioe/freeioe">{{_("Source Code")}}</a>
	<a class="item" href="https://github.com/cloudwu/skynet/wiki">{{_("Skynet Wiki")}}</a>
</div>
{-main-}
