{% layout="base.html" %}
{-main_header-}
{-main_header-}

{-main-}
<h2 class="ui center aligned icon header">
	<i class="circular users icon"></i>
	{{_("Learn more")}}
</h2>
<div class="ui ordered list">
	<a class="item" href="http://help.cloud.thingsroot.com/quick_start/">{{_("Getting Started")}}</a>
	<a class="item" href="https://freeioe.org/d/6-freeioe">{{_("Introduction")}}</a>
	<div class="item">
		<a>{{_("Documents")}}</a>
		<div class="list">
			<a class="item" href="http://freeioe.gitbook.io/doc">{{_("Application Development Book")}}</a>
		</div>
	</div>
	<a class="item" href="http://freeioe.org">{{_("FreeIOE Forum")}}</a>
	<a class="item" href="http://wiki.freeioe.org">{{_("FreeIOE Wiki")}}</a>
</div>
{-main-}
