{% layout="base.html" %}
{-main_header-}
{-main_header-}

{-main-}
<h1 class="header"> {{_("System Settings")}} </h1>

<h3 class="ui dividing header">{{_("PKG")}} </h3>
<table class="ui celled basic table">
	<thead>
		<tr>
			<th>{{_("Setting")}}</th>
			<th>{{_("Value")}}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				{{_("PKG Host URL")}}
			</td>
			<td>
				<div class="ui action input">
					{% if not edit_enable then %}
					<input id="pkg_host_url" value="{{pkg_host}}" type="text" readonly="true">
					{% else %}
					<input id="pkg_host_url" value="{{pkg_host}}" type="text">
					<button id="pkg_host_url_btn" class="ui yellow right labeled icon button">
						<i class="check icon"></i>
						{{_("Change")}}
					</button>
					{% end %}
				</div>
			</td>
		</tr>
		<tr>
			<td>
				{{_("Using Beta")}}
			</td>
			<td>
				{% if using_beta then %}
				<div class="ui toggle checked checkbox" id="using_beta">
					<input class="hidden" type="checkbox" checked="true">
					<label></label>
				</div>
				{% else %}
				<div class="ui toggle checkbox" id="using_beta">
					<input class="hidden" type="checkbox">
					<label></label>
				</div>
				{% end %}


			</td>
		</tr>
	</tbody>
</table>

<div class="ui icon message">
	<i class="inbox icon"></i>
	<div class="content">
		<div class="header">
			<div id="message_ui">
				{{ message }}
			</div>
		</div>
	</div>
</div>

<div class="ui longer using_beta modal scrolling transition hidden">
	<div class="ui header">{{_("Warning")}}</div>
	<div class="scrolling content">
		<h2 class="ui center aligned icon header">
			<i class="yellow warning sign icon"></i>
			{{_("Beta Usage Warning")}}
		</h2>
		<div class="ui center aligned header"></div>
		{*_([[
		<p>Using beta application/system may injure your hardware. </p>
		<p>And enable using beta will lose your hardware guarantee. </p>
		<p>You need to enable using beta from cloud first! </p>
		]])*}
	</div>
	<div class="actions">
		<div class="ui ok orange button">I Agree!</div>
		<div class="ui cancel button">Cancel</div>
	</div>
</div>
{-main-}

{-script-}
<script>
function refresh_page() {
	window.location.replace("/settings");
};
function uncheck_using_beta() {
	var beta = $('#using_beta');
	beta.checkbox('uncheck');
};
function settings_option(option, value) {
	$.post("/settings", {from_web:true, action:'pkg', option:option, value:value}, function(data) {
		$('#message_ui').html('<i>' + data + '</i>');
	})
	.done(function() {
		setTimeout('refresh_page()', 500);
	})
	.fail(function() {
		$('#message_ui').html('<i>{{_("Failed to send request")}}</i>');
	});
};
$(document).ready(function(){
	$("#pkg_host_url_btn").click(function() {
		var value = $('#pkg_host_url').val();
		settings_option('pkg_host_url', value);
	});
	var using_beta = {{ using_beta and "true" or "false" }};
	$('#using_beta')
		.checkbox({
			// check all children
			onChecked: function() {
				$('.ui.longer.using_beta.modal')
					.modal({
						closable  : false,
						onDeny    : function(){
							setTimeout('uncheck_using_beta()', 500);
						},
						onApprove : function() {
							settings_option('using_beta', true);
						}
					})
					.modal('show')
				;
			},
			// uncheck all children
			onUnchecked: function() {
				if (using_beta) {
					settings_option('using_beta', false);
				}
			}
		})
	;
});
</script>
{-script-}
